@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app,
.content {
  height: 100%;
  font-family: "Nunito", sans-serif;
}

.content{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.app {
    display: flex;
    position: relative;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background: #e0e0e0;
}

::-webkit-scrollbar-thumb{
    background: #777;
}

::-webkit-scrollbar-thumb:hover{
    background: #666;
}

input:disabled,
input[disabled]{
  background-color: #8180b3 !important;
  color: #ccc !important;
}

button:disabled,
button[disabled]{
  background-color: #8786b5 !important;
  color: #ccc !important;
}
.markdown{
    overflow: auto;
    border-radius: 10px;
}
.dropdown-container{
    background-color: transparent !important;
    border-color: #a8a4f7 !important;
    z-index: 10000 !important;
}
.dropdown-container:active{
    border-color: #6A64F1 !important;
}
.dropdown-container:focus{
    border-color: #6A64F1 !important;
}
.dropdown-content{
    color: #111 !important;
}